<launch>
    <node name="visualeyez_tracker" pkg="visualeyez_tracker" type="visualeyez_tracker" output="screen">
        <param name="socket_timeout" value="20" type="int" />
        <param name="server_port" value="12345" type="str"/>
        <param name="server_ip"   value="10.10.101.17" type="str"/>
    </node>
    <!--<node name="pctx_control" pkg="pctx_control" type="pctx_control" output="screen"/>
    <node name="uav_commander" pkg="uav_commander" type="uav_commander" output="screen"/>-->
</launch>
